<form action="tasks" method="POST">
	<input type="text" name="title">
	<input type="submit" name="">
</form>


<table>
	<thead>
		<th>
			<td>#</td>
			<td>Title</td>
			<td>Date</td>
			<td>Action</td>
		</th>
	</thead>
	<tbody>
		
			{% for task in task_list %}
			<tr>
				<td> {{loop.index}} </td>
				<td> {{task.id}} </td>
				<td> {{task.title}} </td>
				<td> {{task.created_date}} </td>
				<td> 
					 <a href="edit/{{task.id}}" >Edit</a> 
					 <a href="delete/{{task.id}}" >Delete</a>
				</td>
			</tr>
			{% endfor %}
			
	</tbody>
</table>